name: Build and Test

# This workflow will run on master branch and on any pull requests targeting master
on:
  push:
    branches:
      - master
    tags: []
  pull_request:
  
jobs:
          
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Check out code
        uses: actions/checkout@v3
      - name: Lint Go Code
        uses: golangci/golangci-lint-action@v3

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run unit Tests.
        run: go test -cover -race -vet=off ./...
      
  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      env:
      HEAD: ${{ github.event.pull_request.head.ref }}
      BASE: ${{ github.event.pull_request.base.ref }}
      - name: Check output
        run: echo "$HEAD"

      - name: Check output2
        run: echo "$BASE"

  build:
    name: Build
    runs-on: ubuntu-latest 
    needs: [golangci, test]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Check out code
        uses: actions/checkout@v3

      - name: Build
        run: go build -v ./...